@model CityViewModal

@{
    Layout = "";
}

<div class="row">
    <div class="col-md-12">

        <form asp-action="AddEditBatch" asp-controller="CityMaster" method="post" onsubmit="return jQueryAjaxPost(this);">


            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="batch">City</label>
                <input type="text" class="form-control" id="name" placeholder="Account" asp-for="Name">
            </div>

                <div class="form-group">
                <label for="batch">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Account" asp-for="Description">
            </div>



            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas">Cancel</button>

            </div>
        </form>

    </div>

</div>